/*

#navbar-placeholder{
    background-color: white;
    color: grey
}

#navbar-placeholder::placeholder {
  color: grey;
}


ho usato la regola navbar-dark anche se sconsigliata da bootstrap solo per avere il background 
di inpunt e il placeholder del colore che dicevo io solo usando bootstrap

mi sono incaponita non si fa, ma lascio comunque come avevo modificato la cosa in css
*/
